body{background-color: #444444;}
a:link {
	color: #00d59d; }
.active {
	cursor: not-allowed;
}

/* h1 contains Wendy's name and is styled to provide a bottom border */
h1 {
	font: bold 48px Georgia;
	text-align: center;
	border-bottom: solid 3px grey;
	padding-bottom: 30px;
	max-width: 525px;
	margin-left: auto;
	margin-right: auto; }

/* main contains the <h2> and <p> tags as well as Wendy's picture. It is styled to provide a bottom border */
main, h2, p {
	font: 15px;
	font-weight: lighter; 
	color: white;
	letter-spacing: 1px;
	
	max-width: 525px;
	margin-left: auto;
	margin-right: auto; }

/*	because <h2> is nested inside <main> its style will be placed below <main>'s */
h2 {
	font: 18px arial bold;
	color: white;
}

img { float:right;
	padding: 3px;
	border: 1px solid black;
	margin: 7px; }

/* footer contains the social media links, and a top border divider */
footer {
	text-align: center;
	max-width: 525px;
	margin-left: auto;
	margin-right: auto; }
